language: python

python:
  - "3.8"
  - "3.9"
  - "3.10"

sudo: false

env:
  - DJANGO=3.2
  - DJANGO=4.0
  - DJANGO=master

matrix:
  fast_finish: true

  include:
    - { python: "3.8", env: DJANGO=3.2 }
    - { python: "3.8", env: DJANGO=4.0 }
    - { python: "3.8", env: DJANGO=master }

    - { python: "3.9", env: DJANGO=3.2 }
    - { python: "3.9", env: DJANGO=4.0 }
    - { python: "3.9", env: DJANGO=master }

    - { python: "3.10", env: DJANGO=3.2 }
    - { python: "3.10", env: DJANGO=4.0 }
    - { python: "3.10", env: DJANGO=master }
  allow_failures:
    - env: DJANGO=master

install:
  - pip install tox tox-venv tox-travis

script:
  - tox
